@model MasterCRUD.Web.Models.ApplicantModel

@{
    ViewData["Title"] = "Create";
}
<!-- custom css -->
@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    
    }

<h1>Create</h1>

<h4>ApplicantModel</h4>
<hr />
<section id="about-sc" class="">
    <div class="container">
        <div class="row">
            <div class="about-cnt">
                <form asp-action="Create" class="cv-form" id="cv-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <a data-toggle="collapse" data-target="#about-sec"
                               aria-expanded="false" aria-controls="about-sec">
                                <h3>about section</h3>
                            </a>
                        </div>
                        <div class="cv-form-row cv-form-row-about collapse" id="about-sec">
                            <div class="cols-3">

                                <div class="form-elem">
                                    <label asp-for="FName" for="" class="form-label"></label>
                                    <input asp-for="FName" class="form-control" />
                                    <span asp-validation-for="FName" class="text-danger"></span>
                                </div>
                                <div class="form-elem">
                                    <label asp-for="MName" class="control-label"></label>
                                    <input asp-for="MName" class="form-control" />
                                    <span asp-validation-for="MName" class="text-danger"></span>
                                </div>
                                <div class="form-elem">
                                    <label asp-for="LName" class="control-label"></label>
                                    <input asp-for="LName" class="form-control" />
                                    <span asp-validation-for="LName" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="cols-3">
                                <div class="form-elem">
                                    <label asp-for="Designation" class="control-label"></label>
                                    <input asp-for="Designation" class="form-control" />
                                    <span asp-validation-for="Designation" class="text-danger"></span>
                                </div>
                                <div class="form-elem">
                                    <label asp-for="Address" class="control-label"></label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-elem">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="cols-3">
                                <div class="form-elem">
                                    <label asp-for="PhoneNo" class="control-label"></label>
                                    <input asp-for="PhoneNo" class="form-control" />
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                </div>
                                <div class="form-elem">
                                    <label asp-for="Summary" class="control-label"></label>
                                    <input asp-for="Summary" class="form-control" />
                                    <span asp-validation-for="Summary" class="text-danger"></span>
                                </div>
                                <div class="form-elem btn-group">
                                    <div class="form-group col-8">
                                        <label asp-for="ProfilePhoto" class="control-label"></label>
                                        <div class="custom-file">
                                            <input asp-for="ProfilePhoto" class="custom-file-input" id="customFile"
                                                   onchange="document.getElementById('PreviewPhoto').src=window.URL.createObjectURL(this.files[0])" />
                                            <label class="custom-file-label" for="customFi1e">Choose file</label>
                                        </div>
                                        <span asp-validation-for="ProfilePhoto" class="text-danger"></span>

                                    </div>
                                    <div class="form-group col-4">
                                        <img id="PreviewPhoto" src="~/images/noimage.png" alt="Logo Image" ;
                                             width="125" height-"125" style="border:lpx ;margin-top:20px;" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                   
                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <a data-toggle="collapse" data-target="#education-sec"
                               aria-expanded="false" aria-controls="education-sec">
                                <h3>education</h3>
                            </a>

                        </div>

                        <div class="col-md-12">

                            <table id="ExpTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Institution</th>
                                        <th>Degree</th>
                                        <th>City</th>
                                        <th>StartDate</th>
                                        <th>EndDate</th>
                                        <th>Description</th>
                                        <th style="width:50px;"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Educations.Count; i++)
                                    {
                                        <tr>
                                            <td> <input asp-for="@Model.Educations[i].Institution" class="form-control" /> </td>
                                            <td>@Html.EditorFor(x=> x.Educations[i].Degree, new { htmlAttributes = new {@class = "form-control"}})</td>
                                            <td>@Html.EditorFor(x=> x.Educations[i].City, new { htmlAttributes = new {@class = "form-control"}})</td>
                                            <td>@Html.EditorFor(x=> x.Educations[i].StartDate, new { htmlAttributes = new {@class = "form-control"}})</td>
                                            <td>@Html.EditorFor(x=> x.Educations[i].EndDate, new { htmlAttributes = new {@class = "form-control"}})</td>
                                            <td>@Html.EditorFor(x=> x.Educations[i].Description, new { htmlAttributes = new {@class = "form-control"}})</td>
                                            <td>
                                                <button type="button" id="btnadd-@i" class=" btn-primary btm-sm visible"
                                                        style="width:30px; height:30px; border-radius: 50px;  position:absolute" onclick="AddItem(this)">
                                                    +
                                                </button>
                                                <button type="button" id="btnremove-@i" class="btn-danger btm-sm invisible"
                                                        style="width:30px; height:30px; border-radius: 50px;  position:absolute" onclick="DeleteItem(this)">
                                                    -
                                                </button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>   
                            </table>
                        </div>
                        <input type="hidden" id="hdnLastIndex" value="0" />
                       
                       
                    

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="mt-5 pt-5"></div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        function DeleteItem(btn){
            $(btn).closest('tr').remove();
        }


        function AddItem(btn) {
            var table = document.getElementById('ExpTable');
            var rows = table.getElementsByTagName('tr');

            var rowOuterHtml = rows[rows.length - 1].outerHTML;

            var lastrowIdx = document.getElementById('hdnLastIndex').value;
            var nextrowIdx = eval(lastrowIdx) + 1;

            document.getElementById('hdnLastIndex').value = nextrowIdx;
            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx, '_' + nextrowIdx);


            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;

            var btnAddID = btn.id;
            var btnDeleteid = btnAddID.replaceAll('btnadd', 'btnremove');

            var delbtn = document.getElementById(btnDeleteid);
            delbtn.classList.add("visible");
            delbtn.classList.remove("invisible");

            var addbtn = document.getElementById(btnAddID);
            addbtn.classList.remove("visible");
            addbtn.classList.add ("invisible" ) ;
        }
        
        // document.addEventListener("DOMContentLoaded", function () {
        //     const addButton = document.getElementById("btnadd");
        //     addButton.addEventListener("click", function () {
        //         const educationBlock = document.querySelector(".cv-form-row-experience");
        //         const clone = educationBlock.cloneNode(true);

        //         // Clear input values in the cloned block
        //         const inputFields = clone.querySelectorAll(".form-control");
        //         inputFields.forEach(function (input) {
        //             input.value = "";
        //         });

        //         // Append the cloned block to the parent container
        //         const parentContainer = document.querySelector(".repeater");
        //         parentContainer.appendChild(clone);

        //         // Show the remove button for the cloned block
        //         const removeButton = clone.querySelector("#btnremove");
        //         removeButton.classList.remove("invisible");

        //         // Attach a click event to the remove button
        //         removeButton.addEventListener("click", function () {
        //             parentContainer.removeChild(clone);
        //         });
        //     });
        // });




    </script>




    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <!-- jquery repeater cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.repeater/1.2.1/jquery.repeater.js" integrity="sha512-bZAXvpVfp1+9AUHQzekEZaXclsgSlAeEnMJ6LfFAvjqYUVZfcuVXeQoN5LhD7Uw0Jy4NCY9q3kbdEXbwhZUmUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script src="~/assets/js/script.js"></script>
    <!-- app js -->
    <script src="~/assets/js/app.js"></script>


}
